#tree1skill1 {
    margin: 0;
}

#tree1skill1pts {
    margin: 49px 0 0 76px;
}

#tree1skill2 {
    margin: 100px 0 0 150px;
}

#tree1skill2pts {
    margin: 149px 0 0 226px;
}

#tree1skill3 {
    margin: 100px 0 0 300px;
}

#tree1skill3pts {
    margin: 150px 0 0 376px;
}

#tree1skill4 {
    margin: 200px 0 0 0;
}

#tree1skill4pts {
    margin: 250px 0 0 76px;
}

#tree1skill5 {
    margin: 200px 0 0 300px;
}

#tree1skill5pts {
    margin: 250px 0 0 376px;
}

#tree1skill6 {
    margin: 300px 0 0 150px;
}

#tree1skill6pts {
    margin: 350px 0 0 226px;
}

#tree1skill7 {
    margin: 300px 0 0 300px;
}

#tree1skill7pts {
    margin: 350px 0 0 376px;
}

#tree1skill8 {
    margin: 400px 0 0 0;
}

#tree1skill8pts {
    margin: 450px 0 0 76px;
}

#tree1skill9 {
    margin: 500px 0 0 150px;
}

#tree1skill9pts {
    margin: 550px 0 0 226px;
}

#tree1skill10 {
    margin: 500px 0 0 300px;
}

#tree1skill10pts {
    margin: 550px 0 0 376px;
}