#ama-jab {
    margin: 0;
}

#ama-jab-pts {
    margin: 49px 0 0 76px;
}

#ama-power-strike {
    margin: 100px 0 0 150px;
}

#ama-power-strike-pts {
    margin: 149px 0 0 226px;
}

#ama-poison-javelin {
    margin: 100px 0 0 300px;
}

#ama-poison-javelin-pts {
    margin: 150px 0 0 376px;
}

#ama-impale {
    margin: 200px 0 0 0;
}

#ama-impale-pts {
    margin: 250px 0 0 76px;
}

#ama-lightning-bolt {
    margin: 200px 0 0 300px;
}

#ama-lightning-bolt-pts {
    margin: 250px 0 0 376px;
}

#ama-charged-strike {
    margin: 300px 0 0 150px;
}

#ama-charged-strike-pts {
    margin: 350px 0 0 226px;
}

#ama-plague-javelin {
    margin: 300px 0 0 300px;
}

#ama-plague-javelin-pts {
    margin: 350px 0 0 376px;
}

#ama-fend {
    margin: 400px 0 0 0;
}

#ama-fend-pts {
    margin: 450px 0 0 76px;
}

#ama-lightning-strike {
    margin: 500px 0 0 150px;
}

#ama-lightning-strike-pts {
    margin: 550px 0 0 226px;
}

#ama-lightning-fury {
    margin: 500px 0 0 300px;
}

#ama-lightning-fury-pts {
    margin: 550px 0 0 376px;
}