body {
  background: #202020;
  color: white;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Inconsolata', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: gold;
}

.class-picker {
  display: flex;
  margin: 20px auto;
  width: 750px;
}

.d2class {
  background: black;
  border: 1px solid darkgray;
  flex-direction: row;
  font-weight: 700;
  padding: 15px 10px;
}

.d2class:hover {
  color: gold;
  cursor: pointer;
}

.tree {
  background-image: url("/src/background.jpg");
  background-size: cover;
  border: 1px solid darkgray;
  display: flex;
  padding: 35px;
  height: 575px;
  width: 398px;
}

.pts {
  background: #202020;
  border: 2px solid black;
  font-size: 1.2rem;
  padding: 0 1px 0 0;
  text-align: center;
  width: 25px !important;
}

.skill {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.skill:hover {
  cursor: pointer;
  filter: brightness(140%);
  -webkit-filter: brightness(140%);
}

.skills * {
  display: block;
  position: absolute;
  width: 75px;
}

.skills-counter * {
  display: block;
  position: absolute;
}

.talent-calculator {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
  width: 470px;
}

.d2class-name { 
  background: #101010;
  border: 1px solid darkgray;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.builds {
  background: #101010;
  border: 1px solid darkgray;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
}

#build1 {
  border-right: 1px solid darkgray;
}

#build3 {
  border-left: 1px solid darkgray;
}

.build-btn:hover {
  color: gold;  
  cursor: pointer;
}
